<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

        <style>
            
            .ballBackground {
            background-color: rgb(216, 178, 205);
            height: 200px;
            width: 500px;
            position: absolute;
            }

            .ballAnimation {
                background-color: rgb(76, 143, 187);
                height: 50px;
                width: 50px;
                top: 25px;
                left: 220px;
                border-radius: 50%;
                position: relative;
                animation: bonce 1s infinite;
            }

            @keyframes bonce {
                 
                 
            10%   {
                height: 50px;
                width: 50px;
                
            }
            30% {
                height: 50px;
                width: 40px;
             
            }
            50% {
                height: 25px;
                width: 60px;
                top: 250px;
               
            }
            75% {
                height: 50px;
                width: 57px;
        
            }
            }

            .shadowAnimation {
            background-color: black;
            height: 10px;
            width: 30px;
            border-radius: 50%;
            position: relative;
            top: 280px;
            left: 232px;
            opacity: 20%;
            animation: shadow 1s infinite;
            }
            @keyframes shadow {
            10% {
                transform: scaleX(1);
                opacity: 20%;
            }
            35% {
            transform: scaleX(1.5);
            opacity: 30%;
            }
            50% {
            transform: scaleX(2);
            opacity: 40%;
            }
            75% {
            transform: scaleX(1.5);
            opacity: 30%;
            }
            100% {
            Transform: scaleX(1);
            opacity: 20%;
            }

            }

            * {
             box-sizing: border-box;
            }
            
            body {
            font-family: "Lucida Console", "Courier New", monospace;
            padding: 20px;
            background: white;
            }
            .header {
            font-size: 30px;
            text-align: Left;
            color: rgb(242,160,116);
            }
           
            .leftcolumn {
            float: left;
            width: 50%;
            text-align: center;
            background: #c2a295;
            padding-right: 20px;
            }

    
            .rightcolumn {
            background: #c2a295;
            float: right;
            width: 50%;
            text-align: center;
            padding-left: 20px;
           
            }

            input {
            text-align: center;
            width: 75%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            }

            .btn {
            background-color: ##e7e7e7;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            }

            .boxes {
            background-color: white;
            padding: 20px;
            margin-top: 20px;
            }

            .row:after {
            content: "";
            display: table;
            clear: both;
            }

           

            ul{
                text-size: 60px;
                background: #f1f1f1;
                padding: 30px;
                width: 100%;
            }

            .title {
                padding: 70px;
                font-size: 60px;
                text-align: center;
            }
            .colorbar {
            background: #1c4c3b;
            width: 50%;
            text-align: center;
            padding: 30px;
            margin-left: 25%;
            
            }

            .colortxt{
                font-size: 25px;
                color: rgb(242,160,116);
                
            }

            p{
                font-size: 20px;
            }
           

        </style>
    </head>
    <body>       
        <div class="header">
        <h2>Lets Talk About Plants</h2>
        </div>
        
          
         <div class="row">
            <div class="colorbar">
              
                    <div class="colortxt">New Blog Entry</div>
                        <form action="/add" method="POST">
                            <div>
                                <input name="blog" id="blog" value="Enter blog text here" />
                            </div>
                            <div class="btn">
                                <button>Post</button>
                            </div>
                        </form>
               
            </div>
         </div>

        <div class="title">Blog Posts</div>
                {% for txt in data%}
                <ul class="list">
                 Post number: {{txt.blog_id}}
                 <p>{{txt.blog_txt}}</p>
                </ul>
                {% endfor%}
    </div>

        <div class="row">
            <div class="leftcolumn">
            <h2>Edit Post<h2>
                      <form action="/edit" method="POST">
                          <div>
                            <input name="blog" id="blog" value="Enter blog number" />
                            <input name="bloog" id="bloog" value="Enter new blog text here" />
                          </div>
                          <div class="btn">
                              <button>Edit</button>
                          </div>
                      </form>
            </div>
        <div class="rightcolumn">
            <div class="">
                
                <div class="">

                      <h2>Delete stuff</h2>
                <form action="/delete" method="POST">
            <div>
                <input name="blog" id="blog" value="Number of blog" />
            </div>
             <div class="btn">
                <button>Delete</button>
             </div>
        </form>

        <form action="/deleteall" method="POST">
        
             <div class="btn">
                <button>Delete All Posts</button>
             </div>
        </form>
              </div>
        </div>
    </div>


    <div class="row">
        <div class="rightcolumn">   
        </div>
    </div>

   
       
        

       


    </body>
</html>