<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

        <style>
            .ballBackground {
            background-color: rgb(216, 178, 205);
            height: 200px;
            width: 500px;
            position: absolute;
            }

            .ballAnimation {
                background-color: rgb(76, 143, 187);
                height: 50px;
                width: 50px;
                top: 25px;
                left: 220px;
                border-radius: 50%;
                position: relative;
                animation: bonce 1s infinite;
            }

            @keyframes bonce {
                 
                 
            10%   {
                height: 50px;
                width: 50px;
                
            }
            30% {
                height: 50px;
                width: 40px;
             
            }
            50% {
                height: 25px;
                width: 60px;
                top: 250px;
               
            }
            75% {
                height: 50px;
                width: 57px;
        
            }
            }

            .shadowAnimation {
            background-color: black;
            height: 10px;
            width: 30px;
            border-radius: 50%;
            position: relative;
            top: 280px;
            left: 232px;
            opacity: 20%;
            animation: shadow 1s infinite;
            }
            @keyframes shadow {
            10% {
                transform: scaleX(1);
                opacity: 20%;
            }
            35% {
            transform: scaleX(1.5);
            opacity: 30%;
            }
            50% {
            transform: scaleX(2);
            opacity: 40%;
            }
            75% {
            transform: scaleX(1.5);
            opacity: 30%;
            }
            100% {
            Transform: scaleX(1);
            opacity: 20%;
            }

            }

            * {
             box-sizing: border-box;
            }
            
            body {
            font-family: Arial;
            padding: 20px;
            background: #f1f1f1;
            }
            .header {
            padding: 30px;
            font-size: 40px;
            text-align: center;
            background: white;
            }
            /* Left column */
            .leftcolumn {
            float: left;
            width: 70%;
            
            padding-right: 20px;
            }

            /* Right column */
            .rightcolumn {
            float: right;
            width: 30%;
            text-align: center;
            padding-left: 20px;
           
            }

            input {
                text-align: center;
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            }

            .btn {
            background-color: ##e7e7e7;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            }

            .container {
            background-color: white;
            padding: 20px;
            margin-top: 20px;
            }

            .row:after {
            content: "";
            display: table;
            clear: both;
            }

           .footer {
            padding: 20px;
            text-align: center;
            background: #ddd;
            margin-top: 20px;
            }

            ul{
                text-size: 60px;
            }

            .title {
                padding: 70px;
                font-size: 60px;
                text-align: center;
            }
        </style>
    </head>
    <body>       
        <div class="header">
        <h2>Emily's Final Blog</h2>
        
     </div>
        
           
        

        
        <div class="row">
            <div class="leftcolumn">
            <div class="title">Blog Posts</div>
                {% for txt in data%}
                <ul>
                {{txt.blog_id}} - {{txt.blog_txt}}
                </ul>
                {% endfor%}
            </div>
        <div class="rightcolumn">
            <div class="container">
                <h2>New Blog Entry</h2>
                 <form action="/add" method="POST">
                    <div>
                        <input name="blog" id="blog" value="Enter blog text here" />
                    </div>
                    <div class="btn">
                        <button>Post</button>
                    </div>
                </form>
                <div class="container">
                  <h2>Edit Post<h2>
                      <form action="/edit" method="POST">
                          <div>
                            <input name="blog" id="blog" value="Enter blog number" />
                            <input name="bloog" id="bloog" value="Enter new blog text here" />
                          </div>
                          <div class="btn">
                              <button>Edit</button>
                          </div>
                      </form>

                      <h2>Delete stuff</h2>
                <form action="/delete" method="POST">
            <div>
                <input name="blog" id="blog" value="Number of blog" />
            </div>
             <div class="btn">
                <button>Delete</button>
             </div>
        </form>
              </div>
        </div>
    </div>


    <div class="row">
        <div class="rightcolumn">   
        </div>
    </div>

    <div class="footer">
        <h2>Footer</h2>
      </div>
       
        

       


    </body>
</html>